<a href="https://colab.research.google.com/github/AI-Lab-2025-2-3rd/ai-project-codex/blob/emusigi/%E4%BB%8E%E6%9D%A5%E6%B2%A1%E6%9C%89%E4%BD%9C%E8%BF%99%E4%B8%AA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**好熱！**

這的天氣
有問題一一一一一一一

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [1]:
!git clone https://github.com/AI-Lab-2025-2-3rd/ai-project-codex.git

Cloning into 'ai-project-codex'...
remote: Enumerating objects: 44, done.
remote: Counting objects: 100% (44/44), done.
remote: Compressing objects: 100% (39/39), done.
remote: Total 44 (delta 12), reused 8 (delta 2), pack-reused 0 (from 0)
Receiving objects: 100% (44/44), 4.36 MiB | 6.40 MiB/s, done.
Resolving deltas: 100% (12/12), done.

# **train.csv**
32000개의 데이터, 3개의 열(id, 텍스트, 감정값)

In [6]:
file_path = './ai-project-codex/open/train.csv'

眼泪 = pd.read_csv(file_path)
print(眼泪)

                id                                               text  \
0      TRAIN_00000  @SenWarren The problem with your massively fla...
1      TRAIN_00001  #Tweetlord is a twitter role playing game! Che...
2      TRAIN_00002  I just slammed my elbow into a fridge, I did n...
3      TRAIN_00003                          _beckett Thanks so much !
4      TRAIN_00004                     My gauge fell out on superman
...            ...                                                ...
31995  TRAIN_31995  Its a grey day over Manchester  i would like t...
31996  TRAIN_31996  Got laidoff tonight. Very unhappy.  time for bed.
31997  TRAIN_31997  @MonicaLewinsky Wonderful Monica. Chef’s kiss ...
31998  TRAIN_31998  #AR #business card\n#VR #MixedReality #IoT #in...
31999  TRAIN_31999  @Luscious_Dream (When you move your wrist, my ...

       sentiment
0              2
1              1
2              2
3              1
4              2
...          ...
31995          2
31996          2
31997          1
31998          1
31999          1

[32000 rows x 3 columns]

# **test.csv**

48000개의 **데이터**, 2개의 열(id, 텍스트)

In [7]:
file_path = './ai-project-codex/open/test.csv'
涙 = pd.read_csv(file_path)
print(涙)

               id                                               text
0      TEST_00000  @naima @dialogician Most of this footage is fr...
1      TEST_00001  @Haggis_UK @kevinhollinrake is willing to brea...
2      TEST_00002  ‘No Magic Bullet’ for Preserving Abortion Acce...
3      TEST_00003               Can I also have a swirly flat white?
4      TEST_00004  Question: If the trains we have get disabled i...
...           ...                                                ...
47995  TEST_47995   the music in the trailer was terrible imo, ch...
47996  TEST_47996                @HilaryxLynn Ditto... Me too also!
47997  TEST_47997  can't wait for school tomorrow ahhh but I have...
47998  TEST_47998  is wanting someone to spend her summer evening...
47999  TEST_47999  Can I get a 'what?'  'what?'...the baby sent s...

[48000 rows x 2 columns]

# **sample_submission.csv**
48000개의 데이터, 2개의 열(id, 감정값)

In [14]:
file_path = './ai-project-codex/open/sample_submission.csv'
눈 = pd.read_csv(file_path)
print(눈)

               id  sentiment
0      TEST_00000         -1
1      TEST_00001         -1
2      TEST_00002         -1
3      TEST_00003         -1
4      TEST_00004         -1
...           ...        ...
47995  TEST_47995         -1
47996  TEST_47996         -1
47997  TEST_47997         -1
47998  TEST_47998         -1
47999  TEST_47999         -1

[48000 rows x 2 columns]

# **결측치 확인**

In [12]:
眼泪.isnull().sum() #

id           0
text         0
sentiment    0
dtype: int64

In [11]:
涙.isnull().sum()

id      0
text    0
dtype: int64

In [15]:
눈.isnull().sum()

id           0
sentiment    0
dtype: int64